<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Погода в Астане</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <button id="get-weather-button">Получить погоду</button>
    <div id="weather-container"></div>

    <script>
        $(document).ready(function() {
            // Обработчик события клика на кнопке
            $('#get-weather-button').click(function() {
                // Выполняем AJAX-запрос при нажатии на кнопку
                $.ajax({
                    url: '', // Оставьте пустым, так как это текущий URL
                    success: function(data) {
                        // Извлекаем данные о погоде из JSON-ответа
                        var temperature = data.weather.location.name;
                        var description = data.weather.current.temp_c;

                        // Вставляем полученные данные о погоде в нужное место на странице
                        $('#weather-container').html('Погода в Астане: ' + temperature + '°C, ' + description);
                    },
                    error: function() {
                        // Обработка ошибок, если не удалось получить данные о погоде
                        $('#weather-container').html('Не удалось загрузить данные о погоде.');
                    }
                });
            });
        });
    </script>
</body>
</html>